body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #4682B4;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.breadcrumb {
    background-color: #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: #666;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

article h1 {
    color: #4682B4;
}

section {
    margin-bottom: 20px;
}
/* styles.css */
.overview {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.overview h2 {
    font-size: 24px;
    color: #333;
}

.overview p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.synopsis {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.synopsis h2 {
    font-size: 24px;
    color: #333;
}

.synopsis p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.actor {
    display: inline-block;
    width: 246px;
    text-align: center;
    margin-bottom: 232px;
}

.actor img {
    max-width: 200px;
    border-radius: 50%;
}

.actor p {
    margin-top: 10px;
    font-weight: bold;
}

.trailer img {
    width: 100%;
    max-width: 500px;
    height: auto;
    cursor: pointer;
    border: 2px solid #4682B4;
    border-radius: 8px;
}
.trailer {
    text-align: center;
    margin-top: 20px;
}

.trailer video {
    max-width: 100%;
    height: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 1px solid #444;
    background-color: #182e3d;
}

.footer-menus ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-menus ul li {
    margin: 5px 15px;
}

.footer-menus ul li a {
    color: white;
    text-decoration: none;
}

.footer-menus ul li a:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials a {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    
}

.footer-socials a:hover {
    color: #ddd;
}

.footer-bottom {
    padding: 10px;
    background-color: #404a83;
}

.footer-bottom p {
    margin: 0;
}
.search-container {
    position: relative;
    width: 300px;
    margin: 50px auto;
    display: flex;
}

#search-bar {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

#search-button {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

#search-button:hover {
    background-color: #0056b3;
}

#results-container {
    width: 80%;
    margin: 20px auto;
    display: none;
}

#results {
    list-style: none;
    padding: 0;
}

#results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}