/* Reset des styles et styles généraux */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Conteneur du logo */
.logo-container {
    text-align: center;
    margin-top: 56px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Barre de recherche */
.search-bar {
    text-align: center;
    margin-top: -41px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff; /* Couleur bleue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #0056b3; /* Couleur bleue plus foncée au survol */
}

/* Menu */
.menu {
    background-color: #007bff; /* Couleur bleue */
    text-align: center;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li:last-child a {
    display: flex;
    align-items: center;
}

.menu ul li:last-child a img {
    margin-left: 5px;
    height: 2px; /* Taille de l'icône d'inscription/connexion */
}

/* Section de description du site */
.site-description {
    text-align: center;
    margin: 40px 0;
}

.site-description h2 {
    font-size: 24px;
}

.site-description p {
    font-size: 16px;
}

/* Aperçus des articles */
.article-previews {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.article-preview {
    width: 30%;
    background-color: #f0f0f0; /* Couleur de fond des aperçus */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.article-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.article-preview h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.article-preview p {
    font-size: 14px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #cbe2f1;
    border-radius: 91px;
}
footer a img {
    width: 40px; /* Taille fixe des logos */
    height: 40px; /* Taille fixe des logos */
    margin: 0 10px; /* Marges horizontales */
    transition: transform 0.2s; /* Effet de transition au survol */
}

footer a img:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
}