body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#search-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.player-container {
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
}

.seasons {
    margin-bottom: 20px;
}

.season-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.season-button:hover {
    background-color: #0056b3;
}

#season-content {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
}

.series-card {
    margin-bottom: 10px;
}

.series-card img {
    width: 100px;
    height: auto;
    vertical-align: middle;
}

.watch-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.watch-button:hover {
    background-color: #0056b3;
}

.series-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.series-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.series-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #007bff;
}

.series-card h2 {
    margin: 10px 0;
}

.watch-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.watch-button:hover {
    background-color: #0056b3;
}


footer {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menus ul {
    list-style-type: none;
    padding: 0;
}

.footer-menus ul li {
    display: inline;
    margin: 0 10px;
}

.footer-menus ul li a {
    color: white;
    text-decoration: none;
}

.footer-socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}
