table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    background-color: floralwhite;
}
h1, h2 {
    color: #0056b3;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    margin-top: 30px;
}

h3 {
    text-align: center;
    margin: 10px 0;
    color: #404a83;

}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}